:root {
  --white: #fff;
  --black: #202020;
  --red: #ff0000;
  --dark-red: #dc3545;
  --light-green: #e9f2c3;
  --green: #80bc14;
  --yellow: #f5d730;
  --light-yellow: #fefcef;
  --deep-grey: #444;
  --dark-grey: #222;
  --grey: #808080;
  --light-grey: #ddd;
  --light-border: #f0f0f0;
  --blue: #0056b3;
  --light-blue: #f6f7f8;
}
