@use './mixins/_media' as *;

h1 {
  font-weight: 800;
  font-size: 32px;
  color: var(--black);

  @include media-breakpoint(tab) {
    font-size: 25px;
  }
}

.fz-14-desk-fw-700 {
  font-size: 14px;
  font-weight: 700;
}

.fz-10-desk-fw-700 {
  font-size: 10px;
  font-weight: 700;
}

.fz-18-desk-fw-600 {
  font-size: 18px;
  font-weight: 600;
}

.fz-16-desk-fw-400 {
  font-size: 16px;
  font-weight: 400;
}

.fz-25-desk-fw-600 {
  font-size: 25px;
  font-weight: 600;
}

.fz-24-desk-fw-400 {
  font-size: 24px;
  font-weight: 400;
}

.fz-18-desk-fw-700 {
  font-size: 18px;
  font-weight: 700;
}

.fz-16-desk-fw-600 {
  font-size: 16px;
  font-weight: 600;
}

.fz-12-desk-fw-600 {
  font-size: 12px;
  font-weight: 600;
}

.fz-12-desk-fw-700 {
  font-size: 12px;
  font-weight: 700;
}

.fz-20-tab-fw-600 {
  @include media-breakpoint(tab) {
    font-size: 20px;
    font-weight: 600;
  }
}

.fz-20-tab-fw-400 {
  @include media-breakpoint(tab) {
    font-size: 20px;
    font-weight: 400;
  }
}

.fz-14-tab-fw-600 {
  @include media-breakpoint(tab) {
    font-size: 14px;
    font-weight: 600;
  }
}

.fz-14-tab-fw-400 {
  @include media-breakpoint(tab) {
    font-size: 14px;
    font-weight: 400;
  }
}
